<html>
<head>
<%- include('./blocks/header') %>
<title>Space Serveurs - Privacy Policy</title>
<meta content="Space Servers - Privacy Policy" property="og:title">
<meta content="Legal stuff ¯\_(ツ)_/¯" property="og:description">
<meta name="theme-color" content="#8A215A">
<meta name="og:image" content="https://voidbots.net/assets/img/logo_white.png" />
</head>
<body>
  <%- include('./blocks/navbar', { bot, user }) %>
  <div class="bigthingy row">
  <div class="seeme col-md-8 offset-md-2 row">
    <div class="seeme col-sm-2 sinfo">
      <p id="bigytxt" class="bigyimg" style="font-size:88px;"><i class="fas fa-user-secret"></i></p>
    </div>
    <div class="seeme col-sm-10 sinfo">
      <p id="bigytxt"><span style="font-size:25px; font-weight:bold;">Privacy Policy</span><br />Legal stuff ¯\_(ツ)_/¯</p>
    </div>
  </div>
  </div>
  <br />  <br />  <br />
  <div class="container mt-3">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="card mb-8">
            <div class="card-body">
              <p style="text-align: left;">
      La politique de confidentialité suivante décrit comment vos données sont utilisées sur notre site Web. L'administration du site a le droit de modifier cette politique de confidentialité à tout moment sans avertissement.<br /><br />
      <strong>Data</strong><br/>
      Des informations de base non identifiables sur votre utilisateur sur le site Web sont collectées; dont la majorité est fournie lors de la première connexion, comme les adresses e-mail et les noms d'utilisateur.<br />
      En plus de cela, les adresses IP des utilisateurs enregistrés sont stockées dans le système pour faciliter les tâches de modération. Cela inclut la prévention du spam et la détection des comptes alternatifs.<br /><br />
      <em style="color: #444444 !important;">Les données du compte peuvent être supprimées par un administrateur du site sur demande, ce qui supprimera de notre système toutes les données relatives à votre utilisateur.</em><br /><br />
      <strong>Cookies</strong><br />
      Les cookies sont utilisés pour stocker de petites informations non identifiables avec votre consentement. Afin de consentir à l'utilisation de cookies, en utilisant notre site Web, vous consentez à l'utilisation de cookies.<br />
      Les données stockées par les cookies incluent les identifiants Discord, le discriminateur Discord, l'avatar Discord, ainsi qu'un jeton unique et un hachage non identifiable.<br /><br />
      <strong>Arc</strong><br />
      <em style="color: #444444 !important;">Space.adkynet.eu est plus rapide avec Arc.</em> Arc charge le contenu à partir des appareils des personnes proches de vous plutôt qu'à partir de serveurs plus lents. En retour, cela aide votre appareil à fournir du contenu à d'autres.<br />
      <em style="color: #444444 !important;">Arc permet à Space.adkynet.eu de gagner de l'argent avec moins de publicités.</em> Juste en étant ici, vous partagez un peu de bande passante pour Space.adkynet.eu et contribuez à créer un Internet plus rapide avec moins de publicités.<br />
      <em style="color: #444444 !important;">Vous êtes en sécurité et en contrôle.</em> Arc n'a pas d'impact sur vos données ou vos performances, et vous pouvez vous désinscrire à tout moment.<br />
      <a target="_blank" href="https://arc.io/#whatArcDoes">En savoir plus sur Arc ici!</a><br /><!--<br />
      <strong>Ads</strong><br />
      Space Bots utilise les publicités Google Adsense pour gagner de l'argent afin de payer nos factures. Apprendre encore plus <a href="https://adssettings.google.com/whythisad" target="_blank">here</a>.--></p>
            </div>
          </div>
      </div>
    </div>
  </div>

  </div><br /><br />
  <%- include('./blocks/footer') %>
</body>
</html>
