<html>
<head>
<%- include('./blocks/header') %>
<title>Space Serveurs - Terms</title>
<meta content="Space Serveurs - Terms" property="og:title">
<meta content="Legal stuff ¯\_(ツ)_/¯" property="og:description">
<meta name="theme-color" content="#8A215A">
<meta name="og:image" content="https://voidbots.net/assets/img/logo_white.png" />
</head>
<body>
  <%- include('./blocks/navbar', { bot, user }) %>
  <div class="bigthingy row">
  <div class="seeme col-md-8 offset-md-2 row">
    <div class="seeme col-sm-2 sinfo">
      <p id="bigytxt" class="bigyimg" style="font-size:88px;"><i class="fas fa-file-signature"></i></p>
    </div>
    <div class="seeme col-sm-10 sinfo">
      <p id="bigytxt"><span style="font-size:25px; font-weight:bold;">Terms et Conditions</span><br />Legal stuff ¯\_(ツ)_/¯</p>
    </div>
  </div>
  </div>
  <br />  <br />  <br />
  <div class="container mt-3">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="card mb-8">
            <div class="card-body">
              <p style="text-align: left;">Vous acceptez d'être lié par les règles de notre site Web et toutes les lois qui peuvent s'appliquer à ce site Web et votre participation.
      L'administration du site Web a le droit d'interdire votre compte ou votre guilde à tout moment, de supprimer tout contenu que vous avez pu publier, et utilisez votre adresse IP et toutes les données que vous saisissez sur le site Web pour aider le personnel du site dans ses tâches de modération.
      L'administration du site a le droit de modifier ces termes et conditions, et toutes les règles du site, à tout moment sans avertissement. Bien que vous puissiez être informé de tout changement, il est de votre responsabilité de vérifier ces conditions et les règles à tout moment.<p>
            </div>
          </div>
      </div>
    </div>
  </div>

  </div><br /><br />
  <%- include('./blocks/footer') %>
</body>
</html>
